* {
  margin: 0px;
}

body {
  background-color: #C6D8FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

strong, em {
  font-style: oblique;
}

li {
  font-size: larger;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

#nome {
  text-align: center;
  padding: 20px;
}

#foto {
  float: left;
  padding: 20px;
  margin-right: 10px;
  background-color: #71a9f7;
}

#menu > ul {
  padding: 0px;
  list-style-type: none;
}

#descricao > h2 {
  padding-top: 0px;
}

#sessao-1 {
  margin-bottom: 20px;
  display: inline-block;
}

#habilidades > li:nth-of-type(2n+1) {
  font-style: italic;
}